@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('photo_2025-12-29_09-29-44.jpg')no-repeat;
    background-size: cover;
    background-position: center;





    
}
.wrapper
{
    width: 420px;
    background :transparent;
    border: 2px solid ;
    backdrop-filter: blur(20px);
    box-shadow:0 0 10px 0cap;
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px;
} 
.wrapper h1 {
    font-size: 36px;
    text-align: center;

}
.wrapper .input-box {
    position: relative;
 width: 100%;
 height: 50px;
 background-color: ;
 margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background:;
    border-radius: none;
    outline: none;
    border: 2px solid rgb(192, 212, 221);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(1, 45, 66);
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: black;
 
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;



}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    color: #ffffff;
    margin: -15px 0 15px;
}
.remember-forget label input {
    accent-color: rgb(255, 255, 255);
    margin-right: 3px;

}
.remember-forget a {
    color: #ffffff;
    text-decoration: none;
}
.remember-forget a:hover {
    text-decoration: underline;
    

}
.wrapper .btn {
    width: 100%;
    height: 45px;
    background: white;
    border:none ;
    outline: none;
    border-radius:  40px;
    box-shadow: 0 0 10px rgb(112, 187, 230);
    cursor: pointer;
    font-size: 20px ;
    color :rgb(32, 74, 102) ;
    font-synthesis-weight: 600;

}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top:20px 0 15px;

}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover {
    text-decoration: underline;
}