.child-card {
    padding: 0 !important;
}
.scrollable-container {
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100dvh - 36px - 48px - 42px - 32px);
    margin-bottom: -24px;
}
.scrollable-container::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: grey;
    border-radius: 4px;
}