:root {
  --primary-color: #0fb0dd;
  --accent-color: #BFD4D8;
  --bg-color-1: #fff;
  --bg-color-2: #14445F;
  --bg-color-3: #79C7EC;
  --font-size-base: 16px;
  --font-size-heading: 24px;
}

h1 {
  background-color: var(--bg-color-2);
  color: var(--primary-color);
  padding: 16px;
}